@font-face {
font-family: 'Helvetica LT Std Condensed Light';
src: url('../fonts/HelveticaLTStd-LightCond.eot');
src: url('../fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaLTStd-LightCond.woff') format('woff'),
url('../fonts/HelveticaLTStd-LightCond.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'Bebas Neue Bold';
src: url('../fonts/BebasNeueBold.eot');
src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeueBold.woff') format('woff'),
url('../fonts/BebasNeueBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body{
	padding: 0;
	margin: 0;
}
header{
	padding: 0;
	margin: 0;
	margin-top: -15px;
	background-color: #fff;
}

.container{
	padding: 0 20px;
	width: 1020px;
	margin: 0 auto;
}
.main-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #404040;
}

.main-nav .logo {
	margin-top: 35px;
}

.main-nav .logo a{
 	text-decoration: none;
 	color: #404040;
}

.main-nav .logo span{

	display: block;
}
.main-nav .logo span:first-child{
	font-family:'Bebas Neue Bold'; 
	font-size: 36px;
}

.main-nav .logo span:last-child{
	font-family:'Arial'; 
	font-size: 15px;
}

.main-nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

.main-nav .nav li a{
	font-family: 'Helvetica LT Std Condensed Light';
	font-size: 17px;
	color:inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.nav li{
	padding: 50px 13px 10px 13px;
	transition: 0.1s ;
}

.nav li:hover {
	background-color:#d45e5e;
	color: #fff;
}

.header-main-text{
	position: relative;
	margin-top: 140px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

}

.header-main-text p{
	margin: 0;
	font-size: 22px;
	font-style: italic;

}
.header-main-text p::before{
	position: absolute;
	content:'"';
	left: 50%;
	top: -50px;
	font-size: 50px;
}
.content{
	margin-top: 120px;
}
.content h2{
	font-style: italic;
	font-size: 22px;
	font-weight: 400;
}
.my-sites{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-item{
	position: relative;
	min-width: 220px;
	min-height: 220px;
	background-color:#55e5a8;
	border-radius: 3px;
	margin-bottom: 34px;
	transition: 0.3s ease;

}

.site-item a img{
	width: 100%;
	height: 100%;
}
.site-item a p{
 padding: 0;
 margin: 0;
 position: absolute;
 overflow: hidden;
 left: 10px;
 bottom: 0px;
 color: #fff;
 font-size: 16px;
 opacity: 0;
 transition: 0.3s ease;
}
.site-item:hover {
	transform: scale(1.1);
}

.site-item:hover p{
	bottom: 10px;
	opacity: 1;
}







/*
font-family: 'PT Sans', sans-serif;
*/