@font-face {
font-family: 'Helvetica LT Std Condensed Light';
src: url('../fonts/HelveticaLTStd-LightCond.eot');
src: url('../fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaLTStd-LightCond.woff') format('woff'),
url('../fonts/HelveticaLTStd-LightCond.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'Bebas Neue Bold';
src: url('../fonts/BebasNeueBold.eot');
src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeueBold.woff') format('woff'),
url('../fonts/BebasNeueBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
}
header{
	padding: 0;
	margin: 0;
	margin-top: -15px;
	background-color: #fff;
}

                                     /*ХЕДЕР*/

.container{
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;
}
.main-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #404040;
}

.main-nav .logo {
	margin-top: 35px;
}

.main-nav .logo a{
 	text-decoration: none;
 	color: #404040;
}

.main-nav .logo span{

	display: block;
}
.main-nav .logo span:first-child{
	font-family:'Bebas Neue Bold'; 
	font-size: 36px;
}

.main-nav .logo span:last-child{
	font-family:'Arial'; 
	font-size: 15px;
}

.main-nav .nav{
	display: none;
}

.main-nav .nav li a{
	font-family: 'Helvetica LT Std Condensed Light';
	font-size: 17px;
	color:inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.nav li{
	padding: 50px 13px 10px 13px;
	transition: 0.1s ;
}

.nav li:hover {
	background-color:#d45e5e;
	color: #fff;
}

.button-hamb{
	display: block;
}


.main-nav .button-hamb span {
	margin-top: 30px;
	display: block;
	position: relative;
	width: 25px;
	height: 2px;
	background-color: #000;
	
}

.main-nav .button-hamb span::after{
	content:"";
	display: block;
	position: absolute;
	top: -10px;
	width: 25px;
	height: 2px;
	background-color: #000;
}

.main-nav .button-hamb span::before{
	content:"";
	display: block;
	position: absolute;
	top: 10px;
	width: 25px;
	height: 2px;
	background-color: #000;
}

.header-main-text{
	position: relative;
	margin-top: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

}

.header-main-text p{
	margin: 0;
	font-size: 22px;
	font-style: italic;
	text-align: center;

}
.header-main-text p::before{
	position: absolute;
	content:'"';
	left: 50%;
	top: -50px;
	font-size: 50px;
}


                             /*КОНЕЦ ХЕДЕРА*/

                             /*НАЧАЛО КОНТЕНТА*/


.content{
	margin-top: 60px;
}
.content h2{
	font-style: italic;
	font-size: 22px;
	font-weight: 400;
	text-align:center;
}
.my-sites{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.site-item{
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	min-width: 220px;
	min-height: 220px;
	background-color:#55e5a8;
	border-radius: 3px;
	margin-bottom: 20px;
	transition: 0.3s ease;

}

.site-item a img{
	width: 100%;
	height: 100%;
}
.site-item a p{
 padding: 0;
 margin: 0;
 position: absolute;
 overflow: hidden;
 left: 10px;
 bottom: 0px;
 color: #fff;
 font-size: 16px;
 opacity: 0;
 transition: 0.3s ease;
}
.site-item:hover {
	transform: scale(1.1);
	box-shadow: 0 0 25px  #c4c4c4;
}

.site-item:hover p{
	bottom: 10px;
	opacity: 1;
}
               /*СТИЛИ ФОРМЫ*/
.form form{
	margin: 100px auto 50px auto;
	padding: 20px;
 	width: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
}

.form form .UserInfo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
                          /*КОНЕЦ ФОРМЫ*/

                         /*КОНЕЦ КОНТЕНТА*/
                         /*НАЧАЛО ФУТЕРА*/

footer{
	margin-top: 100px;
	background-color: #d45e5e;
	color: #fff;

}

.footer-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: stretch;
	padding-bottom: 40px;

}

.footer-leftside{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;		
}

.footer-leftside .avatar{
	position: absolute;
	left: 0;
	top: -50px;
	border: 7px solid #fff;
	width: 125px;
	height: 125px;
}

.about-me{
	padding: 0;
	margin-top: 30px;
	font-family:'PT Sans', sans-serif;
 	font-size: 13px;
 	line-height: 20px;

}

.name-geo-links{
	margin-top:20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;

}

.name-geo{
	margin-left: 185px;
}
 .name-geo .name,
 .name-geo .geo  {
 	display: block;
 	margin: 0;
 	padding: 0;

 }

 .name-geo .name{
 	position: relative;
 	left: -17px;
 	font-size: 25px;
 	font-style: italic;
 }

 .name-geo .geo{
 	position: relative;
 	font-family:'PT Sans', sans-serif;
 	font-size: 13px;
 }

 .name-geo .geo::after{
 	content:"";
 	display: block;
 	position: absolute;
 	top:0;
 	left: -23px;
 	width:17px;
 	height: 17px;
 	background: url(../img/location.png) 50% 50% no-repeat;
 }

 .links{
 	display:none;
 }

 .links ul{
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	-webkit-flex-direction: row;
 	-moz-flex-direction: row;
 	-ms-flex-direction: row;
 	-o-flex-direction: row;
 	flex-direction: row;
 	-ms-align-items: center;
 	align-items: center;
 	margin: 0;
    padding: 0;
 	list-style: none;
 }

 .links a{
 	text-decoration: none;
 	list-style: none;
 	color: #fff;
 	font-size: 40px;
 	transition:0.2s;
 }

 .links a:hover{
 	color: #ffff66;
 }

 .links ul li{
 	margin-right: 22px;
 }
 .links ul li:last-child{
 	margin: 0;
 }

.footer-rightside{
	width: 100%;
}

.footer-rightside h3{
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
}

.footer-rightside ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-rightside ul li {
	position: relative;
	
}

.footer-rightside ul li::after{
	content:"";
	display: block;
	width: 100%;
	height: 10px;
	background-color: #fff;
	opacity: 0.1;
	margin-top: 5px;
	margin-bottom: 5px;
}

.footer-rightside ul .html-skill::before,
.footer-rightside ul .css-skill::before,
.footer-rightside ul .js-skill::before,
.footer-rightside ul .ps-skill::before{

	content:"";
	display: block;
	position: absolute;
	top: 23px;
	height: 10px;
	background-color: #000;
	opacity: 1;
}

.footer-rightside ul .html-skill::before{
	width: 90%;
}
.footer-rightside ul .css-skill::before{
	width: 80%;
}
.footer-rightside ul .js-skill::before{
	width: 20%;
}
.footer-rightside ul .ps-skill::before{
	width: 75%;
}


                       /*КОНЕЦ ФУТЕРА*/



@media (min-width : 620px ){

	.main-nav .nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	}
	.header-main-text{
		margin-top: 140px;
	}

	.button-hamb{
	display: none;
	}

	.content{
	margin-top: 120px;
	}


	.my-sites{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	}

	.content h2{
	text-align:left;
	}

	.site-item{
	margin-bottom: 34px;

	}


	.footer-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	align-content: stretch;
	padding-bottom: 40px;

	}
	
 
	.footer-rightside h3{
	text-align: left;
	}

	.footer-rightside{
	width: 300px;
	margin-left: 20px;
	}


}


@media (min-width : 1020px ){

	.container{
	padding: 0 20px;
	width: 1020px;
	margin: 0 auto;
	}


	.footer-leftside{
	width: 650px;
	min-width: 300px;
	}

	.footer-rightside{
	width: 200px;
	margin-left: 20px;
	}


	.links{
 	display:block;
 	}

}
